@model User

@section Landing{
    <link rel="stylesheet" href="~/css/LogReg.css">
    <link rel="stylesheet" href="~/css/Queries.css">
}


<header id="LogReg-header">
    <div class="wrapper nav">
        <div class="logo">
            <a asp-action="LandingPage" asp-controller="Home">
                <h1 class="abril">Together</h1>
            </a>
        </div>
        <div class="nav-links">
            <ul>
                <li>
                    <a asp-action="Login" asp-controller="Home" class="standout-btn">Login</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<section class="help-helper-main wrapper">

    <div class="explanation-card" data-aos="fade-right" data-aos-delay="700">
        <h4>How it works</h4>
        <p>
            After you fill out the form with all your information, you will be taken to another form where you will create your first request and list out the items that you need. It can be groceries, medication, food pick-up or supplies. You will be able to specify the urgency to obtain the items requested but please keep in mind that time is not a guarantee depending if the helper has a hard time obtaining the items requested.
        </p>
        <br>
        <p>
            To pay for your items, you pay your Helper before receiving your items and the Helper will notify you once your items are on your front door.
            Tips can be provided to your helper, not required but encouraged to show your appreciation.
        </p>
    </div>

    <div id="help-form" class="reg-form-box" data-aos="zoom-out">
        <div class="form-header">
            <h4>Help Registration</h4>
            <a asp-action="SelectRole" asp-for="Home" class="form-redirect-link">Back</a>
        </div>

        <form asp-action="HelpReg" asp-controller="Home" method="POST" enctype="multipart/form-data">
            <label for="FirstName">First Name * <span asp-validation-for="FirstName" class="red"></span></label>
            <input asp-for="FirstName" placeholder="Enter your name">

            <label asp-for="LastName">Last Name * <span asp-validation-for="LastName" class="red"></span></label>
            <input asp-for="LastName" placeholder="Enter your last name">

            <div class="single-row">
                <div class="inputs">
                    <label asp-for="Email">Email Address * <span asp-validation-for="Email" class="red"></span></label>
                    <input asp-for="Email" placeholder="example@example.com">
                </div>

                <div class="inputs">
                    <label asp-for="PhoneNumber">Phone Number * <span asp-validation-for="PhoneNumber" class="red"></span></label>
                    <input asp-for="PhoneNumber" placeholder="123-456-7890">
                </div>
            </div>

            <div class="single-row">
                <div class="inputs">
                    <label asp-for="Photo">Profile Pic * Max 2MB <span asp-validation-for="Photo" class="red"></span></label>

                    <div class="image-upload">
                        <input asp-for="Photo" type="file" class="real-file" hidden="hidden">
                        <button type="button" class="upload-btn">Choose file</button>
                        <p class="file-callout">No file selected</p>
                    </div>

                </div>

                <div class="inputs">
                    <label asp-for="VenmoId">Venmo ID * <span asp-validation-for="VenmoId" class="red"></span></label>
                    <input asp-for="VenmoId" placeholder="Enter your Venmo ID">
                </div>
            </div>

            <label asp-for="Password">Password * <span asp-validation-for="Password" class="red"></span></label>
            <input asp-for="Password" placeholder="Enter a password">

            <label asp-for="Confirm">Confirm Password <span asp-validation-for="Confirm" class="red"></span></label>
            <input asp-for="Confirm" placeholder="Confirm password">

            <hr>
            <label asp-for="Address1">Address Line 1 * <span asp-validation-for="Address1" class="red"></span></label>
            <input asp-for="Address1" placeholder="Enter your address 1">

            <label asp-for="Address2">Adress Line 2</label>
            <input asp-for="Address2" placeholder="Enter your address 2">

            <div class="single-row">

                <div class="inputs">
                    <label asp-for="City">City * <span asp-validation-for="City" class="red"></span></label>
                    <input asp-for="City" placeholder="Enter your city">
                </div>

                <div class="inputs">
                    <label asp-for="ZipCode">Zip Code * <span asp-validation-for="ZipCode" class="red"></span></label>
                    <input asp-for="ZipCode" placeholder="Enter your zip code">
                </div>

            </div>

            <div class="single-row">

                <div class="inputs">
                    <label asp-for="State">State * <span asp-validation-for="State" class="red"></span></label>
                    <input asp-for="State" placeholder="Enter your state">
                </div>

                <div class="inputs">
                    <label asp-for="Country">Country * <span asp-validation-for="Country" class="red"></span></label>
                    <input asp-for="Country" placeholder="Enter your country">
                </div>

            </div>

            <input type="hidden" asp-for="Status" value="true">
            <input type="submit" class="form-btn" value="REGISTER">
        </form>
        <a asp-action="Login" asp-controller="Home" class="form-redirect-link width-link">Already have an account?</a>
    </div>
</section>

<script>
    let mobileOnly = window.matchMedia('(max-width: 1000px)');
    const formContainer = document.getElementById('help-form');
    const explainCard = document.querySelector('.explanation-card');

    function animationStop(){
        if(mobileOnly.matches){
            console.log('working');
            explainCard.setAttribute('data-aos', '0')
            formContainer.setAttribute('data-aos', '0');
        }
    }
    animationStop();
</script>