@section Landing{
    <link rel="stylesheet" href="~/css/Landing.css">
    <link rel="stylesheet" href="~/css/LandingQueries.css" />
}

<header id="landing-header">
    <div class="wrapper nav landing-nav" data-aos="fade-down">

        <div class="logo">
            <a asp-action="LandingPage" asp-controller="Home">
                <h1 class="abril">Together</h1>
            </a>
        </div>
        <div class="nav-links">
            <ul>
                <li>
                    <a href="#how">Our Mission</a>
                </li>
                <li>
                    <a asp-action="Login" asp-controller="Home">Login</a>
                </li>
                <li>
                    <a asp-action="SelectRole" asp-controller="Home" id="register-btn" class="standout-btn">Register</a>
                </li>
            </ul>
        </div>
        <span id="open-nav" onclick="openMenu()">&#9776</span>

    </div>
</header>

<div class="mobile-nav">
    <ul>
        <li>
            <a href="#how">Our Mission</a>
        </li>
        <li>
            <a asp-action="Login" asp-controller="Home">Login</a>
        </li>
        <li>
            <a asp-action="SelectRole" asp-controller="Home" id="register-btn" class="standout-btn">Register</a>
        </li>
    </ul>
    <span id="close-btn" onclick="closeMenu()">&times;</span>
</div>

<section id="banner">
    <div id="leftCol" class="col">
        <div class="banner-text" data-aos="fade-right">
            <h1 class="abril">IN THIS TOGETHER</h1>
            <p>A platform where people can seek help to purchase or pick-up items when they're uncapable and those that are able to help, can offer their time to obtain the items that others can't</p>
        </div>
    </div>
    <div class="col image"></div>
</section>

<section id="how" class="wrapper" data-aos="fade-down">
    <h3 class="abril">Our Mission</h3>
    <div class="cards">

        <div class="card">
            <p>This platform was built with the intention to help out people who are incapable to leave their homes to purchase groceries or home  essentials. With the experience of COVID-19, we realize that this platform will be essential to those who are in quarantine, a senior or handicapped person.</p>
            <p>With <span class="bold">Together</span>, you will be able to register as a person who needs help or you can register as a helper. The person in need can then fill out a form of the items that they require specifying how urgent is their request.</p>
        </div>
        <div class="image">
            <img src="https://images.unsplash.com/photo-1512479064533-47d51d07bb93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80" class="pic">
        </div>

    </div>

</section>

<section id="covid-tracker" class="wrapper" data-aos="fade-down">
    <div class="section-title">
        <h3 class="abril title">COVID-19 Tracker</h3>
        <p>The latest statistics regarding the "Corona Virus"</p>
    </div>
    <h2 id="country">United States</h2>
    <div class="data-container">
        <div>
            <h4>Cases</h4>
            <h3 id="cases"></h3>
        </div>
        <div>
            <h4>Deaths</h4>
            <h3 id="deaths"></h3>
        </div>
        <div>
            <h4>Last Updated</h4>
            <h3 id="update"></h3>
        </div>
    </div>
    <p class="footer">Information provided by <a href="https://systems.jhu.edu/research/public-health/ncov/" target="_blank">Johns Hopkins University</a></p>
</section>

<footer>
    <div class="wrapper mobile-footCol">
        <div id="footer-nav" class="nav">

            <div class="logo footer-box">
                <a asp-action="LandingPage" asp-controller="Home">
                    <h1 class="abril">Together</h1>
                </a>
                <span>&copy; 2020 Together. All rights reserved</span>
            </div>

            <div id="together" class="footer-links footer-box">
                <h4>Together</h4>
                <ul>
                    <li>
                        <a href="#how">Our Mission</a>
                    </li>
                    <li>
                        <a asp-action="Login" asp-controller="Home">Login</a>
                    </li>
                    <li>
                        <a asp-action="SelectRole" asp-controller="Home">Register</a>
                    </li>
                </ul>
            </div>

            <div class="footer-links footer-box">
                <h4>Resources</h4>
                <ul>
                    <li>
                        <a href="https://www.ahd.com/">American Hospital Directory</a>
                    </li>
                    <li>
                        <a href="https://www.meridianrx.com/en/pharmacy-lookup/">meridianRx - Pharmacy lookup</a>
                    </li>
                    <li>
                        <a href="https://venmo.com/?gclsrc=aw.ds&" target="_blank">Venmo - Digital wallet</a>
                    </li>
                    <li>
                        <a href="https://www.skype.com/en/get-skype/">Skype - Video chat</a>
                    </li>
                </ul>
            </div>

            <div class="footer-links footer-box">
                <h4>Resources</h4>
                <ul>
                    <li>
                        <a href="https://www.boxed.com/" target="_blank">Boxed - Bulk shopping</a>
                    </li>
                    <li>
                        <a href="https://www.themuse.com/">themuse - Job search</a>
                    </li>
                    <li>
                        <a href="https://www.uber.com/">uber - Taxi like service</a>
                    </li>
                    <li>
                        <a href="https://www.lyft.com/">lyft - Taxi like service</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>