@media screen and (max-width: 1600px){
    .explanation-card{
        width: 35%;
    }
    .reg-form-box{
        width: 55%;
    }
}
@media screen and (max-width: 1400px){
    .log-container{
        width: 60%;
    }
}
@media screen and (max-width: 1350px){
    .explanation-card{
        width: 30%;
        padding: 2rem;
    }
    .reg-form-box{
        width: 65%;
    }
    /* Details page */
    #detail-content{
        width: 47%;
    }
    .person-info-container .person-image{
        width: 52%;
    }
    .person-info-container .person-info-text{
        width: 45%;
    }
}
@media screen and (max-width: 1200px){
    .width-link{
        width: 45%;
    }
    .log-container,
    .reg-container{
        width: 75%;
    }
}
@media screen and (max-width: 1150px){
    /* Universal Styles */
    html{
        font-size: 16px;
    }
    .reg-form-box{
        padding: 2rem;
    }
    form .image-upload .file-callout{
        height: 24px;
    }

    /* HelperDetails page */
    #helper-details,
    .accepted-container{
        width: 75%;
    }
}


@media screen and (max-width: 1000px){
    .help-helper-main{
        flex-direction: column;
    }
    .explanation-card{
        width: 75%;
        margin-bottom: 2rem;
        box-shadow: 0px 5px 8px rgba(0,0,0,0.4);
    }
    .reg-form-box{
        width: 75%;
    }
}


@media screen and (max-width: 950px){
    /* Details page */
    #detail-main{
        margin-top: 10rem;
        flex-direction: column;
    }
    .leftCol,
    #detail-content{
        width: 100%;
    }
    #map{
        height: 45vh;
    }
    .request-container,
    .completed-container{
        height: 50vh;
    }
    .person-info-container{
        flex-direction: column;
        align-items: center;
    }
    .person-info-container .person-image{
        width: 60%;
        height: 60vh;
        margin-bottom: 1.5rem;
    }
    .person-info-container .person-info-text{
        width: 100%;
    }
    #detail-main p,
    #helperDetails-main p{
        font-size: 1rem;
    }
    #detail-main p span,
    #helperDetails-main p span{
        font-size: 1rem;
        letter-spacing: 0.25px;
    }
    .request-container,
    .completed-container{
        box-shadow: none;
    }
    .request-container{
        margin-top: 1.5rem;
    }
    .backToTop{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .backToTop .toTop{
        display: block;
    }
    #detail-content h4{
        font-size: 1.25rem;
    }
    form .accept-btn{
        font-size: 1.1rem;
        padding: 0;
    }
    .delete-btn{
        padding: 8px 20px;
        font-size: 1.1rem;
    }
}


@media screen and (max-width: 850px){
    .explanation-card{
        width: 100%;
    }
    .reg-form-box{
        width: 100%;
    }

    form .image-upload .file-callout{
        height: 20px;
    }

    /* Dashboard page */
    #address-th,
    .address-td{
        display: none;
    }

    /* HelperDetails page */
    #helper-details .person-image{
        height: 45vh;
        width: 70%;
    }
    #helper-details,
    .accepted-container{
        width: 75%;
    }
}


@media screen and (max-width: 800px){
    .width-link{
        width: 65%;
    }
    form label{
        margin-bottom: 5px;
    }
    form .form-btn{
        width: 70%;
        margin-bottom: 1rem;
    }
    .log-container,
    .reg-container{
        width: 100%;
    }

    /* Details page */
    .accept-btn{
        height: 2rem;
    }
}


@media screen and (max-width: 720px){
    /* Universal Styles */
    html{
        font-size: 14px;
    }
    form input{
        height: 2.5rem;
    }
    form #pwd-box{
        height: 2.5rem;
    }
    form input,
    form textarea{
        font-size: 1rem;
    }
    form .single-row{
        flex-direction: column;
    }
    form .single-row .inputs{
        width: 100%;
    }
    form .image-upload{
        margin-bottom: 1rem;
    }
    form .image-upload .upload-btn{
        width: 35%;
    }

    .btn-alignment>*{
        margin-bottom: 7px;
    }
    .btn-alignment{
        flex-direction: column;
    }
    .btn-alignment .reg-btn{
        width: 100%;
        height: 2.5rem;
    }

    .explanation-card{
        padding: 1.5rem;
    }
    .reg-form-box{
        padding: 1.5rem;
    }

    /* Login page, Register Page &  Request Page */
    #log-body,
    #reg-body,
    #request-main{
        height: auto;
        margin-top: 10rem;
        margin-bottom: 5rem;
    }

    /* Dashboard page */
    .mobile-dashNav,
    #open-dashNav{
        display: block;
    }
    #Dash-header .nav-links{
        display: none;
    }
    #open-dashNav{
        font-size: 2.5rem;
    }
    #open-dashNav:hover{
        cursor: pointer;
    }
    #open-dashNav:active{
        transform: scale(0.95);
    }
    #close-dashNav{
        font-size: 4rem;
        color: #fff;
        position: absolute;
        top: 2%;
        right: 10%;
    }
    #close-dashNav:hover,
    #close-dashNav:focus{
        cursor: pointer;
        top: 2.5%;
        transform: rotate(180deg);
        transition: all 0.3s ease;
    }
    .mobile-dashNav.show{
        transform: translate(0);
        transition: transform 0.2s ease;
    }
    .mobile-dashNav{
        top: 0;
        width: 250px;
        height: 100vh;
        position: fixed;
        z-index: 5;
        transform: translate(-250px);
        background-color: #243f51;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-out;
    }
    .mobile-dashNav ul li{
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 2.5rem;
    }
    .mobile-dashNav ul li a{
        color: #fff;
    }
    #action-th,
    .action-td,
    .desktop-name{
        display: none;
    }
    .mobile-name{
        display: block;
    }

    /* Details page */
    .leftCol{
        padding: 1.5rem;
    }
    .person-info-container .person-image{
        width: 65%;
        height: 45vh;
    }
    #map{
        margin-top: 1rem;
        height: 50vh;
    }
    .accept-btn{
        width: 65%;
    }
    .delete-btn{
        width: 65%;
    }

    /* HelperDetails page */
    #helper-details,
    .accepted-container{
        width: 100%;
        padding: 1.5rem;
    }
    #helper-details .person-image{
        height: 40vh;
        width: 70%;
    }
    .requestee-container{
        flex-direction: column;
        align-items: flex-start;
    }
    .requestee-container .col{
        width: 100%;
    }
    .requestee-container .cancel-btn{
        margin: 1rem auto 0 auto;
        width: 55%;
        height: 2rem;
        font-size: 1rem;
    }
}
@media screen and (max-width: 550px){
    /* Details page */
    .person-info-container .person-image{
        height: 38vh;
    }
    #helper-details .person-image{
        height: 35vh;
        width: 80%;
    }
}